# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Variables / secrets
terraform.tfvars
*.tfvars
!terraform/terraform.tfvars.example

# AWS
*.pem

# OS
.DS_Store

*.pdf
*.zip
phases_documentation/
Nowak-Olga_14126518_Cloud Programming_AWS Static Web Site Project/